<style>.topic{
	padding-top: 40px;
	text-align: center;
	color:white;
}
</style>
<div class="container"><br><br><br>
	<h3 class="topic">Add Advertisement</h3>
<%= render 'form', adhub: @adhub %>
<br>
</div>

